#### make an empty dictionary named practice_dict

In [1]:
practice_dict={}

#### add name of student with their marks in above dictionary

In [2]:
a=['mayuur','sankket','akshay','vishnu','ashish']
b=[100,90,80,70,60]
practice_dict=dict(zip(a,b))

In [3]:
practice_dict

{'mayuur': 100, 'sankket': 90, 'akshay': 80, 'vishnu': 70, 'ashish': 60}

#### change the key name for one key in dictionary [example - {'mayurr' : 55} -----> {'mayur' : 55} ]

In [4]:
dict1={'mayuur': 100, 'sankket': 90, 'akshay': 80, 'vishnu': 70, 'ashish': 60}

In [5]:
dict1['mayur']=dict1['mayuur']

del dict1['mayuur']

In [6]:
dict1['sanket']=dict1['sankket']
del dict1['sankket']

In [7]:
dict1

{'akshay': 80, 'vishnu': 70, 'ashish': 60, 'mayur': 100, 'sanket': 90}

#### change key as a value and value as key in above dictionary. [example - {'mayur': 55} -----> {55: 'mayur'}

In [8]:
key=['mayuur','sankket','akshay','vishnu','ashish']
value=[100,90,80,70,60]
practice_dict1=dict(zip(key,value))

In [9]:
value1=list(practice_dict1.values())
key1=list(practice_dict1.keys())

In [10]:
practice_dict=dict(zip(value1,key1))
practice_dict

{100: 'mayuur', 90: 'sankket', 80: 'akshay', 70: 'vishnu', 60: 'ashish'}

#### ----------------------------------------------------------------------------------------------------------------------------------------------------------

# make a dictionary using two lists

city_names = ['pune', 'mumbai', 'nashik', 'ahmednagar']
covid_counts = [12000, 22000, 9000, 3000]

In [11]:
city_names = ['pune', 'mumbai', 'nashik', 'ahmednagar']
covid_counts = [12000, 22000, 9000, 3000]

In [12]:
dict1=dict(zip(city_names,covid_counts))

In [13]:
dict1

{'pune': 12000, 'mumbai': 22000, 'nashik': 9000, 'ahmednagar': 3000}

#### remove pune from above dictionary

In [14]:
dict1.pop('pune')

12000

In [15]:
dict1

{'mumbai': 22000, 'nashik': 9000, 'ahmednagar': 3000}

#### add delhi = 20000 in dictionary

In [16]:
dict1['delhi']=20000

In [17]:
dict1

{'mumbai': 22000, 'nashik': 9000, 'ahmednagar': 3000, 'delhi': 20000}

#### print keys of dictionary

In [18]:
dict1.keys()

dict_keys(['mumbai', 'nashik', 'ahmednagar', 'delhi'])

#### print values of dictionary

In [19]:
dict1.values()

dict_values([22000, 9000, 3000, 20000])

#### print items of dictionary

In [20]:
dict1.items()

dict_items([('mumbai', 22000), ('nashik', 9000), ('ahmednagar', 3000), ('delhi', 20000)])

#### print 3rd item of dictionary

In [21]:
for item_,item in enumerate(dict1):
    if item_ == 3:
        print(list(dict1.items())[item_])

('delhi', 20000)

#### ----------------------------------------------------------------------------------------------------------------------------------------------

### perform operations on dictionary using all dictionary functions

####  Access the value of key ‘history’

In [22]:
sample_dict = { 
   "class":{ 
      "student":{ 
         "name":"nikita",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

In [23]:
sample_dict['class']['student']['marks']['history']

80

#### Initialize dictionary with default values

In [24]:
employees = ['mayur', 'aniket', 'John']
defaults = {"designation": 'Application Developer', "salary": 80000}

In [25]:
employees=dict.fromkeys(employees,defaults)
employees

{'mayur': {'designation': 'Application Developer', 'salary': 80000},
 'aniket': {'designation': 'Application Developer', 'salary': 80000},
 'John': {'designation': 'Application Developer', 'salary': 80000}}

#### Create a new dictionary by extracting the following keys from a given dictionary

In [26]:
# Expected output - {'name': 'akshay', 'salary': 8000}
sampleDict = {
  "name": "akshay",
  "age":22,
  "salary": 80000,
  "city": "Ahmednagar"
  
}
keys = ["name", "salary"]

In [27]:
sample_Dict={}
for k,v in sampleDict.items():
     if k =='name':
        sample_Dict[k]=v
     if k =='salary':
        sample_Dict[k]=v

In [28]:
sample_Dict

{'name': 'akshay', 'salary': 80000}

#### Check if a value 200 exists in a dictionary
expected output - True

In [29]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

In [30]:
for k,v in sampleDict.items():
    if v ==200:
        print("true")

true

#### Rename key city to location in the following dictionary

In [31]:
sampleDict = {
  "name": "Vishnu",
  "age":22,
  "salary": 80000,
  "city": "Mumbai"
}

In [32]:
sampleDict['location']=sampleDict['city']
del sampleDict['city']

In [33]:
sampleDict

{'name': 'Vishnu', 'age': 22, 'salary': 80000, 'location': 'Mumbai'}

#### Get the key corresponding to the minimum value from the following dictionary

In [34]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

In [35]:
min(sampleDict.keys())

'Math'

#### Given a Python dictionary, Change sanket salary to 85000

In [36]:
sample_dict = {
     'emp1': {'name': 'mayur', 'salary': 75000},
     'emp2': {'name': 'nikhil', 'salary': 80000},
     'emp3': {'name': 'sanket', 'salary': 65000}
}

In [37]:
sample_dict['emp3']['salary']=85000
sample_dict

{'emp1': {'name': 'mayur', 'salary': 75000},
 'emp2': {'name': 'nikhil', 'salary': 80000},
 'emp3': {'name': 'sanket', 'salary': 85000}}