# List program

# create empty list

In [1]:
empty_list=[]
type(empty_list)

list

In [2]:
list1=list()
type(list1)

list

# create list with element

In [3]:
list1=[4,2,7,'f',5,"akshay",9.0]
print(list1)

[4, 2, 7, 'f', 5, 'akshay', 9.0]

In [4]:
list1=list((2,6,4))   #tuple
list1

[2, 6, 4]

In [5]:
list1=list({2,4,7,5})     #set
list1

[2, 4, 5, 7]

# print element by using index

In [6]:
list1=[4,2,7,'f',5,"akshay",9.0]

In [7]:
list1[0]

4

In [8]:
list1[-len(list1)]

4

print last element

In [9]:
list1[len(list1)-1]

9.0

In [10]:
list1[-1]

9.0

# print ele by using slice operater

In [11]:
list1[:]

[4, 2, 7, 'f', 5, 'akshay', 9.0]

In [12]:
list1[0:5]

[4, 2, 7, 'f', 5]

In [13]:
list1[::2]

[4, 7, 5, 9.0]

In [14]:
list1[::-2]

[9.0, 5, 7, 4]

# print reverse list

In [15]:
list1[::-1]

[9.0, 'akshay', 5, 'f', 7, 2, 4]

In [16]:
list1=[9.0, 'akshay', 5, 'f', 7, 2, 4]
list1.reverse()
list1

[4, 2, 7, 'f', 5, 'akshay', 9.0]

In [17]:
list1=list1=[9.0, 'akshay', 5, 'f', 7, 2, 4]
list2=[]
for i in reversed(list1):
    list2.append(i)
list2

[4, 2, 7, 'f', 5, 'akshay', 9.0]

# list clone

In [18]:
list2=list1
print(type(list2))
print(id(list1))
print(id(list2))

<class 'list'>
1589136768264
1589136768264

In [19]:
list2.pop()

4

In [20]:
print(list1)
print(list2)

[9.0, 'akshay', 5, 'f', 7, 2]
[9.0, 'akshay', 5, 'f', 7, 2]

# list copy

In [21]:
list1=[9.0, 'akshay', 5, 'f', 7, 2, 4]
list2=list1[:]

In [22]:
print(list1)
print(list2)
print(id(list1))
print(id(list2))

[9.0, 'akshay', 5, 'f', 7, 2, 4]
[9.0, 'akshay', 5, 'f', 7, 2, 4]
1589135705928
1589135706632

In [23]:
list2.pop()

4

In [24]:
print(list1)
print(list2)

[9.0, 'akshay', 5, 'f', 7, 2, 4]
[9.0, 'akshay', 5, 'f', 7, 2]

In [25]:
list2=list1.copy()

In [26]:
print(id(list1))
print(id(list2))

1589135705928
1589136020552