# list operation

create list

In [1]:
list1=[1,2,3,4,5,'fs','two',21.33,'rwr']

print list element

In [2]:
list1

[1, 2, 3, 4, 5, 'fs', 'two', 21.33, 'rwr']

find length of list

In [3]:
len(list1)

9

access the element from list

In [4]:
list1=['akshay', 'sanket', 'mayur', 'baban', 'vishnu', 112, 43, 766, 32, 879]

In [5]:
list1[:5]

['akshay', 'sanket', 'mayur', 'baban', 'vishnu']

In [6]:
list1[-5:]

[112, 43, 766, 32, 879]

In [7]:
list1[0:9:2]

['akshay', 'mayur', 'vishnu', 43, 32]

# list methods

append the element in list

In [8]:
list1.append(123)
list1

['akshay', 'sanket', 'mayur', 'baban', 'vishnu', 112, 43, 766, 32, 879, 123]

count

In [9]:
list1=[1, 2, 3, 4, 5,3,2,5,]
list1.count(5)

2

index of first match element

In [10]:
list1.index(3)

2

In [11]:
list1.index(2,2)       #index(ele,start,end)

6

insert method

In [12]:
list1.insert(4,34)           #insert(position,value)
list1

[1, 2, 3, 4, 34, 5, 3, 2, 5]

copy list

In [13]:
list_=list1.copy()
list_

[1, 2, 3, 4, 34, 5, 3, 2, 5]

extend list

In [14]:
list2=['akshay','sanket','mayur','baban','vishnu']
list3=[112,43,766,32,879]
list2.extend(list3)
list2

['akshay', 'sanket', 'mayur', 'baban', 'vishnu', 112, 43, 766, 32, 879]

sort the list

In [15]:
list1=['akshay', 'sanket', 'mayur', 'baban', 'vishnu']
list1.sort()

In [16]:
list1

['akshay', 'baban', 'mayur', 'sanket', 'vishnu']

reverse the list

In [17]:
list1.reverse()
list1

['vishnu', 'sanket', 'mayur', 'baban', 'akshay']

remove element into the list

In [18]:
list1.remove('baban')
list1

['vishnu', 'sanket', 'mayur', 'akshay']

In [19]:
list1.pop()

'akshay'

clear list

In [20]:
list1.clear()
list1

[]

# interchange first and last element

index of the list element

In [21]:
list1=['akshay', 'baban', 'mayur', 'sanket', 'vishnu']

In [22]:
for i ,ele in enumerate(list1):
    print(i,"--",ele)

0 -- akshay
1 -- baban
2 -- mayur
3 -- sanket
4 -- vishnu

In [23]:
list1=[32,43,76,56,87,34,23,90]

In [24]:
def interchange_f_l (list1):
    temp=list1[0]
    list1[0]=list1[-1]
    list1[-1]=temp
    return list1

In [25]:
interchange_f_l (list1)

[90, 43, 76, 56, 87, 34, 23, 32]

# #check if element exist in list

In [26]:
def is_exist(list1,key):
    for i,item in enumerate(list1):
        if item == key:
            print(item,"exist at pos:",i)
            break

In [27]:
list1=[32,43,76,56,87,34,23,90]

In [28]:
key=int(input("enter the key:"))
is_exist(list1,key)

enter the key:56
56 exist at pos: 3

In [29]:
#occurance of element in list

In [30]:
def ele_occurance(list1,x):
              # list1.count(x)
        return list1.count(x)

In [31]:
list1=[1,2,4,6,8,7,5,4,3,1,2]

In [32]:
x=int(input("enter the element:"))
count=ele_occurance(list1,x)

enter the element:2

In [33]:
print('item=',x,"count=",count)

item= 2 count= 2

In [34]:
# cummulative sum of list

In [35]:
def cummulative_sum(list1):
    list_=[]
    j=0
    for i in range(0,len(list1)):
        j+=list1[i]
        list_.append(j)
    return list_

In [36]:
list1=[2,4,7,5,9,2,5,1]

In [37]:
cummulative_sum(list1)

[2, 6, 13, 18, 27, 29, 34, 35]

# list comprehension

In [38]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
[item for item in enumerate(range(1,10,3))]

[(0, 1), (1, 4), (2, 7)]