# 1]  check no is +ve , -ve ,0.

In [1]:
def check(list1):
    for no in list1:
        if no>0:
            print("the no {} is positive".format(no))
        if no<0:
            print("the no {} is negative".format(no))
        else:
            print("the no {} is zero".format(no))

In [2]:
list1=[5,0,-555]
check(list1)

the no 5 is positive
the no 5 is zero
the no 0 is zero
the no -555 is negative

# 2].check no is odd or even.

In [3]:
def odd_even(list1):
    for no in list1:
        if no%2==0:
            print("no {} is even".format(no))
        else:
            print("no {} is odd".format(no))

In [4]:
list1=[23,45,44,68,90,18,58]
odd_even(list1)

no 23 is odd
no 45 is odd
no 44 is even
no 68 is even
no 90 is even
no 18 is even
no 58 is even

# 3]. check leap year.

In [5]:
def leap_year(year):
    if year%4==0:
        if year%100==0:
            if year%400==0:
                print("{} year is leap year".format(year))
            else:
                print("{} year is not a leap year".format(year))
        else:
            print("{} year is a leap year".format(year))
    else:
        print("{} year is not a leap year".format(year))

In [6]:
leap_year(2000)

2000 year is leap year

# 4]. check prime no

In [7]:
def check_prime(no):
    count=0
    for i in range(2,int(no/2)):
        if no%i==0:
            count+=1
    if count==0:
        print("{} no is prime no".format(no))
    else:
        print("{} no is not a prime no".format(no))

In [8]:
check_prime(14)

14 no is not a prime no

# 5]. print all prime no in an interval

In [9]:
def check_prime(no):
    for num in range(1,no):
        count=0
        for i in range(2,num):
            if num%i==0:
                count+=1
        if count==0:
            print("{} no is prime no".format(num))
        else:
            print("{} no is not a prime no".format(num))

In [10]:
check_prime(14)

1 no is prime no
2 no is prime no
3 no is prime no
4 no is not a prime no
5 no is prime no
6 no is not a prime no
7 no is prime no
8 no is not a prime no
9 no is not a prime no
10 no is not a prime no
11 no is prime no
12 no is not a prime no
13 no is prime no

# 6]. find factor of no.

In [11]:
def fact(no):
    list1=[]
    for i in range(2,no):
        if no % i ==0:
            list1.append(i)
    return list1

In [12]:
ans=fact(12)
ans

[2, 3, 4, 6]

# 7] factorial of a no .

In [13]:
def factorial(list_):
    for no in list_:
        fact=1
        if no ==1:
            return 1
        for i in range(2,no+1):
            fact=fact*i
        print("factorial of {} is {}".format(no,fact))

In [14]:
list_=[2,3,4,5,6,7,8,9,10]
factorial(list_)

factorial of 2 is 2
factorial of 3 is 6
factorial of 4 is 24
factorial of 5 is 120
factorial of 6 is 720
factorial of 7 is 5040
factorial of 8 is 40320
factorial of 9 is 362880
factorial of 10 is 3628800

# 8].print fibonacci sequance.

In [15]:
def fibbo(no):
    a=0
    b=1
    if no==0:
        print(a)
    if no ==1:
        print("a,b")
    else:
        a=0
        b=1
        print(a,",",b,end=" , ")
        for i in range(1,no):
            c=a+b
            print(c,end=" , ")
            a=b
            b=c

In [16]:
fibbo(4)

0 , 1 , 1 , 2 , 3 ,

# 9]. factorial of no using recursion.

In [17]:
def fact(no):
        if no==0:
            return 0
        if no ==1:
            return 1
        if no >=2:
            return no * fact(no-1)

In [18]:
fact(5)

120

# 10]. find sum of natural no in range.

In [19]:
def sum(no):
    sum=0
    for i in range(1,no+1):
        sum=sum+i
    return sum

In [20]:
sum(100)

5050

# 11].display multiplication tabel.

In [21]:
def tabel(no):
    for i in range(1,11):
        print("{} * {} = {}".format(no,i,no*i))

In [22]:
tabel(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# 12]. find lcm.

In [23]:
def lcm(no1,no2):
    a=max(no1,no2)
    while(True):
        if (a%no1==0) and (a%no2==0):
            ans=a
            break
        a+=1
    return ans

In [24]:
lcm(4,5)

20

# 13].find hcf.

In [25]:
def hcf(no1,no2):
    a=min(no1,no2)
    for i in range(1,a+1):
        if (no1%i==0) and (no2%i==0):
            ans=i
    return ans

In [26]:
hcf(8,12)

4

# 14].check amstrong no.

In [27]:
def amstrong(no):
    ans=0
    temp=no
    while(no!=0):
        a=no%10
        ans+=a**3
        no=no//10
    if temp == ans:
        print("{} is amstrong no".format(temp))
    else:
        print("{} is not amstrong no".format(temp))

In [28]:
amstrong(153)

153 is amstrong no

# 15]. amstrong no in an  any interval

In [29]:
def amstrong(r):
    for no in range(1,r):
        l=int(len(str(no)))
        ans=0
        temp=no
        while(no!=0):
            a=no%10
            ans+=a**l
            no=no//10
        if temp == ans:
            print("{} is amstrong no".format(temp))

In [30]:
amstrong(2000)

1 is amstrong no
2 is amstrong no
3 is amstrong no
4 is amstrong no
5 is amstrong no
6 is amstrong no
7 is amstrong no
8 is amstrong no
9 is amstrong no
153 is amstrong no
370 is amstrong no
371 is amstrong no
407 is amstrong no
1634 is amstrong no

# 15]. generate a random no

In [31]:
import random
print(random.randrange(3,100))
print(random.randint(3,100))

46
39